* {
    margin:0;
    padding: 0;
}
.bg-white {
    background:#FFFFFF;
}

.bg-grey {
    background:#F9F9F9;
}

.frontpage-header {
    /*background-image: url("../img/img-about-slide-1.png");*/
    color:#FFFFFF;
    height:60vh;
}

.frontpage-header img {
    padding:15px;
}

.padding-0 {
    padding:0!important;
}

.padding-top-1 {
    padding-top: 88px;
}

.padding-top-2 {
    padding: 15px;
}

.padding-top-3 {
    padding-top: 30px;
}

.padding-bottom-1 {
    padding-bottom: 75px;
}

.padding-bottom-2 {
    padding-bottom: 10px;
}

.padding-bottom-3 {
    padding-bottom: 30px;
}

.logo {
    width:112px;
}

nav ul li {
    list-style-type: none;
    padding:15px;
    font-size:14px;
}

nav ul li a,  nav ul li a:hover, nav ul li a:active, .footer-item a, .footer-item a:hover, .footer-item a:active {
    color:#FFFFFF;
}

.navbar {
    background:transparent;
    border-bottom: #FFFFFF 1px solid;
    z-index:100;
    padding: 30px;
}

.below-header{
    position: absolute;
    top: 60vh;
}


.font-size-1 {
    font-size:14px;
}

.font-size-2 {
    font-size:20px;
}

.font-size-3 {
    font-size:30px;
}

.font-size-4 {
    font-size:16px;
}

.tabbed-filter-selected {
    width:60%;
    border-bottom: 2px solid #000000;
    display:inline-block;
}

label {
    padding-top: 0 !important;
}

.job-card {
    padding:25px 0;
    background:#FFFFFF;
    margin:0;
    box-shadow: -10px 10px 20px #E9E9E9;
    margin-top:33px;
    position:relative;
}

.job-card img {
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translate(0, -50%);*/
    width:85px;
}

.job-card .description {
    padding:29px 0;
}

.font-color-grey {
    color:#B2B2B2;
}

.job-card .applyButton {
    color:#43BA80;
    padding:10px 30px;
    border-radius:5px;
}

.job-card .applyButton:hover {
    background:#43BA80;
    color:#FFFFFF;
    text-decoration: none;
}

.job-card span.jobCategory {
    padding:5px;
    border: 2px solid #000000;
    border-radius: 20px;
}

footer {
    background:#000000;
    color:#FFFFFF;
}

footer .footer-item {
    padding:10px 0 10px 10px;
}

.footer-copyright {
    padding-top:20px;
}

.exposedFilterButton {
    background: none;
    border: none;
    color:#000000;
    font-size:14px;
    cursor: pointer;
    font-weight:bold;
}

.tabLink, .tabLink:active, .tabLink:hover  {
    color:#000000;
    text-decoration: none;
}

.pager, .page ul {
    display:inline-block!important;
}
.pager li  {
    float:left;
    border: 1px #000000 solid;
    padding:10px;
    margin-right:5px;
    border-radius:5px;
}

.pager-link, .pager-link:hover, .pager-link:active {
    color: #000000;
    font-weight:bold;
}

.header_bg_block {
    position: absolute;
    left: 0;
    top: 0;
    height: 60vh;
}

.headlines {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
}

.region-header {
    width:100%;
}

.social-list {
    color:#FFFFFF;
    list-style-type: none;
    display: inline-block;
}

.social-list li {
    float:left;
    padding-right:20px;
}

.form-text, .form-select{margin:5px;display:block;width:100%;height:calc(1.5em + .75rem + 2px);padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.exposed-filters .form-text, .exposed-filters .form-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background: url('./../../img/icons/arrow-head-down.svg') no-repeat right center;
    color: #000000;
    font-size:14px;
    text-transform: uppercase;
}

@media only screen and (max-width: 576px) {
    .hide-on-mobile {
        display: none!important;
    }
}

.slick-prev:before {
    color:  #000000;
}
.slick-next:before {
    color:  #000000;
}
.slick-prev { left: 15px; }
.slick-next { right: 15px; }





